node_modules/
frontend/dist/
!polylance-chat-service/dist/
artifacts/
cache/
typechain-types/
coverage/
coverage.json
.env
.env.*
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
amoy_deployment_addresses.json
Polylance-FV-1/
